// Rider UI 默认主题
//
// @desc    轮播图
// @author  zfkun(zfkun@msn.com)


@require 'rider-ui/core'


$-role-attr ?= 'data-role'


.ui-tab
    user-select: none;

    [data-role=navigator]
        display: flex
        margin: 0
        padding: 0
        white-space: nowrap
        list-style: none
        background: #2773dc
        color: #fff

    [data-role=trigger]
        // display: list-item
        flex: 1
        box-sizing: content-box

        padding: rem(10px) rem(14px)

        cursor: pointer
        text-align: center;
        // white-space: nowrap
        ellipsis()

        &.active
            cursor: default
            background: #0c4da8


    // 隐藏
    &[data-ui~=hidden]
        display: none !important

    // 滚动
    &[data-ui~=scroller]
        [data-role=navigator]
            display: table
            table-layout: fixed
        [data-role=trigger]
            display: table-cell


    // // 横向
    // &[data-ui~=horizontal]
    //     [data-role=navigator]
    //     [data-role=trigger]

    // 纵向
    &[data-ui~=vertical]
        [data-role=navigator],
        [data-role=trigger]
            display: block

    // 禁用
    &[data-ui~=disabled]
        [data-role=navigator]
            opacity: .3;
        [data-role=trigger]
            cursor: default;
